{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WoBlog</title>

  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="{% static 'core/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'core/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Favicons -->
  <link href="{% static 'core/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'core/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'core/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{% static 'core/assets/css/variables.css' %}" rel="stylesheet">
  <link href="{% static 'core/assets/css/main.css' %}" rel="stylesheet">

  <!-- Scripts for icons - edit, delete, view -->
  <script src="https://kit.fontawesome.com/33cd771fbc.js" crossorigin="anonymous"></script>

</head>

<body>

  {% include "core/header.html" %}
  <main id="main">
    <div class="messages">
      {% for message in messages %}
      <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      {% endfor %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </main>

  {% block bodycontent %} {% endblock %}


  {% include "core/footer.html" %}

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'core/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'core/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'core/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'core/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'core/assets/vendor/php-email-form/validate.js' %}"></script>
  <script>
    $(document).ready(function() {
      // Bind a click event to the close button within the alerts
      $('.alert .close').on('click', function() {
        $(this).closest('.alert').fadeOut();
      });
    });
    </script>


  <!-- Template Main JS File -->
  <script src="{% static 'core/assets/js/main.js' %}"></script>

</body>

</html>