{% extends "core/base.html" %}

{% load static %}

{% block bodycontent %}

<main id="main">

    <section class="single-post-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 post-content" data-aos="fade-up">

                    <!-- ======= Single Post Content ======= -->

                    <div class="single-post">
                        <div class="post-meta"><span class="date">{{blog.get_blog_category_display}}</span> <span
                                class="mx-1">&bullet;</span><span>{{blog.created_on}}</span><span
                                class="mx-1">&bullet;</span><span>Author: {{blog.user.first_name}}
                                {{blog.user.last_name}}</span>
                        </div>

                        <h1 class="mb-5">{{blog.title}}</h1>
                        <p> {{blog.description}} </p>

                        <div class="container-md" data-aos="fade-in">
                            <div class="row">
                                <div class="col-12">
                                    <div class="swiper sliderFeaturedPosts">

                                        <div class="swiper-wrapper">
                                            {% if blog.image %}
                                            <div class=" swiper-slide" class="img-bg-inner  d-flex align-items-end">
                                                <img src="{{blog.image.url}}" alt="" height="300px" width="450px">
                                            </div>
                                            {%endif%}
                                            {% if blog.image1 %}
                                            <div class=" swiper-slide" class="img-bg-inner  d-flex align-items-end">
                                                <img src="{{blog.image1.url}}" alt="" height="300px" width="450px">
                                            </div>
                                            {%endif%}

                                            {% if blog.image2 %}
                                            <div class=" swiper-slide" class="img-bg-inner d-flex align-items-end">
                                                <img src="{{blog.image2.url}}" alt="" height="300px" width="450px">
                                            </div>
                                            {%endif%}
                                            {% if blog.image3 %}
                                            <div class=" swiper-slide" class="img-bg-inner  d-flex align-items-end">
                                                <img src="{{blog.image3.url}}" alt="" height="300px" width="450px">
                                            </div>
                                            {%endif%}

                                        </div>
                                        <div class="custom-swiper-button-next">
                                            <span class="bi-chevron-right"></span>
                                        </div>
                                        <div class="custom-swiper-button-prev">
                                            <span class="bi-chevron-left"></span>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- ======= Comments ======= -->
                    <div class="comments">
                        <h5 class="comment-title py-4">Comments</h5>

                        {% for comment in comments %}
                        <div class="comment d-flex mb-4">
                            <div class="flex-shrink-0">
                                <div class="avatar avatar-sm rounded-circle">
                                    <img class="avatar-img" src="assets/img/person-5.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-2 ms-sm-3">
                                <div class="comment-meta d-flex align-items-baseline">
                                    <h6 class="me-2">{{comment.owner.first_name}} {{comment.owner.last_name}}</h6>
                                    <span class="mx-1">&bullet;</span>
                                    <h6 class="me-2">{{comment.created_on}}</h6>
                                </div>
                                <div class="comment-body">
                                    {{comment.text}}
                                </div>
                            </div>
                        </div>
                        {%endfor%}


                        <!-- ======= Comments Form ======= -->
                        {% if request.user.is_authenticated %}
                        <div>
                            <form action="{% url 'create_comment'%}" method="POST">
                                <div class="row justify-content-center mt-5">
                                    <div class="col-lg-12">
                                        <h5 class="comment-title">Leave a Comment</h5>
                                        <div class="row">

                                            {% csrf_token%}

                                            <div class="col-12 mb-3">
                                                <h6>Enter your comment:</h6>
                                                {{comment_form.text.lable_tag}} {{comment_form.text}}
                                            </div>

                                            <div class="col-12 mb-3">
                                                <h6>Choose the blog:</h6>
                                                {{comment_form.blog.lable_tag}} {{comment_form.blog}}
                                            </div>

                                            <div class="col-12 mb-3">
                                                <input type="submit" class="btn btn-primary" value="Post comment">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {%endif%}
                        <!--End Comment Form-->
                    </div>
                </div>
            </div>

            <!-- End Single Post Content -->



</main>
{%endblock%}