{% extends 'core/base.html' %}
{% load static%}
{% block bodycontent %}

<main id="main">
    <section>
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    <h3 class="page-title">Delete blogs</h3>
                </div>
            </div>
            <div class="center">
                <form method="post" class="card">
                    {% csrf_token %}
                    <h4>Are you sure that you want to delete "{{ blog.title }}"?</h4>
                    <p class="form-buttons">
                        <input type="submit" class="btn btn-primary" value="Delete" />
                        <a href="{% url 'my_blogs' %}" class="btn btn-outline">Cancel</a>
                    </p>
                </form>
            </div>
        </div>
    </section>
    {% endblock bodycontent %}