{% extends "core/base.html" %}

{% load static %}

{% block bodycontent %}

<main id="main">
    <section>
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    <h3 class="page-title">Add a New Blog</h3>
                </div>
            </div>

            <form role="form" method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Add Blog" />
            </form>
        </div>
    </section>
</main>
{% endblock %}