{% extends "core/base.html" %}

{% load static %}

{% block bodycontent %}

<main>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a New Blog</title>
    <link rel="stylesheet" href="{% static 'core/style_createblog.css' %}" />

    <div class="messages">
        {% for message in messages %}
        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            <strong> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
        </div>
        {% endfor %}
    </div>
    <div>
        {% if request.user.is_authenticated %}
        <a class="btn btn-secondary" href="{% url 'my_blogs' %}">My Blogs</a>
        <p>User logged by {{request.user.email}} email</p>

        {% endif %}
    </div>
    <section class="wrapper">
        <div class="form signup">
            <header>About New Blog</header>
            <form role="form" method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Add Blog" />
            </form>
        </div>
    </section>
</main>
{% endblock %}