{% extends "core/base.html" %}

{% load widget_tweaks %}

{% load static %}

{% block bodycontent %}
<!-- Add your CSS stylesheets or links here -->
<link rel="stylesheet" href="{% static 'core/assets/css/edit_profile.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<main id="main">
    <section>
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <!-- Your main content goes here -->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <!-- Profile picture card -->
                                <div class="card mb-4 mb-xl-0">
                                    <div class="card-header text-center">
                                        <h4>Profile Photo</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        <!-- Profile picture image -->
                                        <img src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% else %}{% static 'core/assets/img/default-profile-image.png' %}{% endif %}" id="photo-preview"
                                            class="img-circle profile-avatar" alt="User avatar">
                                        <input type="file" name="photo" accept="image/*" class="form-control-file"
                                            id="photo-upload" style="display: none;">
                                        <label for="photo-upload" class="btn btn-primary">Change Photo</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="panel panel-default">
                                    <h4>User Info</h4>
                                </div>
                                {% for field in form.visible_fields %}
                                {% if field.name != "photo" %}
                                <div class="form-group">
                                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}: </label>
                                    <div class="col-sm-10">
                                        <div class="col-md-8"> {{ field }} </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>Security</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Current password</label>
                                        <div class="col-md-4">
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">New password</label>
                                        <div class="col-md-4">
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <a type="button" class="btn btn-primary" href="{% url 'user_account' %}">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $(document).ready(function () {
        // Add a click event handler to the "Change Photo" button
        $("#photo-upload").change(function () {
            // Display the selected image in the photo preview
            readURL(this);
        });

        // Function to read the selected image and display it in the preview
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#photo-preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    });
</script>

{% endblock %}
