{%load static %}

<footer id="footer" class="footer">

  <div class="footer-content">
    <div class="container">

      <div class="row g-5">
        <div class="col-lg-3">
          <h3 class="footer-heading">About WoBlog</h3>
          <p>WoBlog was created with great love to make your daily life more interesting. We are sure that it
            will interest everyone. You can find anything here that will really interest you. Moreover, you can create
            your own blog by registering and becoming an indispensable member of our team. We are waiting for you. </p>
          <p><a href="{%url 'about' %}" class="footer-link-more">Learn More</a></p>

        </div>


        <div class="col-6 col-lg-2">
          <h3 class="footer-heading">Navigation</h3>
          <ul class="footer-links list-unstyled">
            <li><a href="{% url 'home' %}"><i class="bi bi-chevron-right"></i> Home</a></li>
            <li><a href="{% url 'about' %}"><i class="bi bi-chevron-right"></i> About us</a></li>
            <li><a href="{% url 'contact' %}"><i class="bi bi-chevron-right"></i> Contact</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-4">
          <h3 class="footer-heading text-center">Categories</h3>
          <div class="row g-5">
            <div class="col-6 col-lg-6">
              <ul class="footer-links list-unstyled">
                <li><a href="/category/?blog_category=1">Travel</a></li>
                <li><a href="/category/?blog_category=2">Sport</a></li>
                <li><a href="/category/?blog_category=3">Nature</a></li>
                <li><a href="/category/?blog_category=4">Animals</a></li>
                <li><a href="/category/?blog_category=5">Food</a></li>
                <li><a href="/category/?blog_category=6">DIY and Crafts</a></li>
              </ul>
            </div>
            <div class="col-6 col-lg-6">
              <ul class="footer-links list-unstyled">
                <li><a href="/category/?blog_category=7">Science and Technology</a></li>
                <li><a href="/category/?blog_category=8">Fashion</a></li>
                <li><a href="/category/?blog_category=9">Medicine</a></li>
                <li><a href="/category/?blog_category=10">Psycology</a></li>
                <li><a href="/category/?blog_category=11">Art</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          {%if most_viewed_blogs%}
          <h3 class="footer-heading">Popural Posts</h3>

          <ul class="footer-links footer-blog-entry list-unstyled">
            {% for blog in most_viewed_blogs%}
            <li>
              <a href="{% url 'blog_detail' blog.id %}" class="d-flex align-items-center">
                <img src="{{blog.image.url}}" alt="" class="img-fluid me-3">
                <div>
                  <div class="post-meta d-block"><span class="date">{{blog.get_blog_category_display}}</span> <span
                      class="mx-1">&bullet;</span>
                    <span>{{blog.created_on}}</span>
                  </div>
                  <span>{{blog.title}}</span>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
          {%endif%}

        </div>
      </div>
    </div>
  </div>

  <div class="footer-legal">
    <div class="container">

      <div class="col-md-12">
        <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
          <a href="https://twitter.com/BlogWo61259" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/profile.php?id=61551002473971" target="_blank" class="facebook"><i
              class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/wobloginfo/" target="_blank" class="instagram"><i
              class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/woblog-armenia-b56992291/" target="_blank" class="linkedin"><i
              class="bi bi-linkedin"></i></a>
        </div>

      </div>

      <div class="row justify-content-between">
        <div class="col-md-12 text-center text-md-start mb-3 mb-md-0">
          <div class="copyright text-center">
            © Copyright {% now "Y" %} by<strong><span>WoBlog</span></strong>. All Rights Reserved
          </div>

        </div>

      </div>

    </div>

  </div>
  </div>

</footer>