{%load static %}
{% load i18n %}

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="{% url 'home' %}" class="logo d-flex align-items-center">
      <h1>WoBlog</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="{% url 'home' %}">{% trans "Blog" %}</a></li>

        <li class="dropdown"><a href=""><span>{% trans "Categories" %}</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="/category/?blog_category=1">{% trans "Travel" %}</a></li>
            <li><a href="/category/?blog_category=2">{% trans "Sport" %}</a></li>
            <li><a href="/category/?blog_category=3">{% trans "Nature" %}</a></li>
            <li><a href="/category/?blog_category=4">{% trans "Animals" %}</a></li>
            <li><a href="/category/?blog_category=5">{% trans "Food" %}</a></li>
            <li><a href="/category/?blog_category=6">{% trans "DIY and Crafts" %}</a></li>
            <li><a href="/category/?blog_category=7">{% trans "Science and Technology" %}</a></li>
            <li><a href="/category/?blog_category=8">{% trans "Fashion" %}</a></li>
            <li><a href="/category/?blog_category=9">{% trans "Medicine" %}</a></li>
            <li><a href="/category/?blog_category=10">{% trans "Psychology" %}</a></li>
            <li><a href="/category/?blog_category=11">{% trans "Art" %}</a></li>
          </ul>
        </li>

        <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
        <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>

        <!-- <div class="position-relative"> -->

        {% if request.user.is_authenticated %}

        <li><a type="button" href="{% url 'create_blog' %}">{% trans "Add new blog" %}</a></li>
        <li><a type="button" href="{% url 'my_blogs' %}">{% trans "My blogs" %}</a></li>
        <li><a type="button" href="{% url 'user_account' %}">{% trans "My Profile" %}</a></li>
        <li><a type="button" href="{% url 'logout' %}">{% trans "Log Out" %}</a></li>

        {% else %}
        <li><a type="button" href="{% url 'signup' %}">{% trans "Sign up" %}</a></li>
        <li><a type="button" href="{% url 'login' %}">{% trans "Log in" %}</a></li>

        {% endif %}

        <li><a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a></li>

      </ul>


    </nav>
    <div class="position-relative">
      <i class="bi bi-list mobile-nav-toggle"></i>
    </div>

    <div class="search-and-subscribe-container">
      <!-- ======= Search Form ======= -->
      <div class="search-form-wrap js-search-form-wrap">
        <form action="{% url 'search_result' %}" method="get" class="search-form">
          {%csrf_token %}
          <span class="icon bi-search"></span>
          <input type="text" id="search-input" name="search" placeholder="Search for..." class="form-control">
          <button type="submit" class="btn js-search-close"><span class="bi-x"></span></button>
        </form>
      </div><!-- End Search Form -->

      <!-- ======= Subscribe Form ======= -->
      <form method="POST" action="/subscribe/" class="subscribe-form">
        {% csrf_token %}
        <input name="email" class="bg-white text-sm px-0.5 sm:px-0.5 md:px-0.5 py-0.5 mb-1 rounded" type="text"
          placeholder="  Enter your email...">
        <input type="submit" value="Subscribe"
          class="font-bold text-white bg-black hover:bg-gray-800 cursor-pointer px-0.5 py-0.5 md:px-1 md:py-0.5 focus:outline-none rounded">
      </form>
      <!-- End Subscribe Form -->

    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      const searchInput = $('#search-input');
      const suggestionsContainer = $('#suggestions');
      const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

      searchInput.on('input', function () {
        const query = searchInput.val();

        if (query.length > 2) {
          $.ajax({
            url: '{% url "search_suggestions" %}',
            data: { q: query },
            dataType: 'json',
            headers: { "X-CSRFToken": csrfToken },
            success: function (data) {
              suggestionsContainer.empty();

              for (const blog of data) {
                suggestionsContainer.append(
                  `<div>
                    <strong>${blog.title}</strong> - ${blog.description}
                  </div>`
                );
              }
            }
          });
        } else {
          suggestionsContainer.empty();
        }
      });

      // Trigger search on Enter key press
      searchInput.on('keydown', function (event) {
        if (event.key === 'Enter') {
          event.preventDefault(); // Prevent form submission
          const query = searchInput.val();

          if (query.length > 2) {
            // Submit the form
            searchInput.closest('form').submit();
          }
        }
      })
    });
  </script>





</header><!-- End Header -->