{%load static %}

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="{% url 'home' %}" class="logo d-flex align-items-center">
      <h1>WoBlog</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="{% url 'home' %}">Blog</a></li>

        <li class="dropdown"><a href=""><span>Categories</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="/category/?blog_category=1">Travel</a></li>
            <li><a href="/category/?blog_category=2">Sport</a></li>
            <li><a href="/category/?blog_category=3">Nature</a></li>
            <li><a href="/category/?blog_category=4">Animals</a></li>
            <li><a href="/category/?blog_category=5">Food</a></li>
            <li><a href="/category/?blog_category=6">DIY and Crafts</a></li>
            <li><a href="/category/?blog_category=7">Science and Technology</a></li>
            <li><a href="/category/?blog_category=8">Fashion</a></li>
            <li><a href="/category/?blog_category=9">Medicine</a></li>
            <li><a href="/category/?blog_category=10">Psycology</a></li>
            <li><a href="/category/?blog_category=11">Art</a></li>
          </ul>
        </li>

        <li><a href="{%url 'about'%}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->

    <!-- <div class="position-relative"> -->
    <nav id="navbar" class="navbar">
      <ul>
        {% if request.user.is_authenticated %}

        <li><a type="button" href="{% url 'createblog' %}"> Add new blog</a></li>
        <li><a type="button" href="{% url 'my_blogs' %}"> My blogs</a></li>
        <li><a type="button" href="{% url 'user_account' %}"> My Profile</a></li>
        <li><a type="button" href="{% url 'logout' %}"> Log Out</a></li>

        {% else %}
        <li><a type="button" href="{% url 'signup' %}">Sign up </a></li>
        <li><a type="button" href="{% url 'login' %}"> Log in</a></li>

        {% endif %}

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </ul>
    </nav>


    <!-- ======= Search Form ======= -->
    <div class="search-form-wrap js-search-form-wrap">
      <form action="{% url 'search_result' %}" method="get" class="search-form">
        {%csrf_token %}
        <span class="icon bi-search"></span>
        <input type="text" id="search-input" name="search" placeholder="Search" class="form-control">
        <button type="submit" class="btn js-search-close"><span class="bi-x"></span></button>
      </form>
    </div><!-- End Search Form -->

  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      const searchInput = $('#search-input');
      const suggestionsContainer = $('#suggestions');
      const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

      searchInput.on('input', function () {
        const query = searchInput.val();

        if (query.length > 2) {
          $.ajax({
            url: '{% url "search_suggestions" %}',
            data: { q: query },
            dataType: 'json',
            headers: { "X-CSRFToken": csrfToken },
            success: function (data) {
              suggestionsContainer.empty();

              for (const blog of data) {
                suggestionsContainer.append(
                  `<div>
                    <strong>${blog.title}</strong> - ${blog.description}
                  </div>`
                );
              }
            }
          });
        } else {
          suggestionsContainer.empty();
        }
      });

      // Trigger search on Enter key press
      searchInput.on('keydown', function (event) {
        if (event.key === 'Enter') {
          event.preventDefault(); // Prevent form submission
          const query = searchInput.val();

          if (query.length > 2) {
            // Submit the form
            searchInput.closest('form').submit();
          }
        }
      })
    });
  </script>
</header><!-- End Header -->