{%load static %}

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="home.html" class="logo d-flex align-items-center">
      <h1>WoBlog</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="{% url 'home' %}">Blog</a></li>
        <li><a href="{% url 'singlepost' %}">Single Post</a></li>
        <li class="dropdown"><a href="{% url 'category' %}"><span>Categories</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="{% url 'searchresult' %}">Search Result</a></li>
            <li><a href="#travel">Travel</a></li>
            <li><a href="#sport">Sport</a></li>
            <li><a href="#nature">Nature</a></li>
            <li><a href="#animals">Animals</a></li>
            <li><a href="#food">Food</a></li>
            <li><a href="#DIYandCrafts">DIY and Crafts</a></li>
            <li><a href="#science">Science and Technology</a></li>
          </ul>
        </li>

        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->

    <!-- <div class="position-relative"> -->




    <nav id="navbar" class="navbar">
      <ul>
        {% if request.user.is_authenticated %}
        <li><a type="button" href="{% url 'createblog' %}"> Add new blog</a></li>
        <li><a type="button" href="{% url 'logout' %}"> Log Out</a></li>

        {% else %}
        <li><a type="button" href="{% url 'signup' %}">Sig up </a></li>
        <li><a type="button" href="{% url 'login' %}"> Log in</a></li>

        {% endif %}

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </ul>
    </nav>

    <!-- ======= Search Form ======= -->
    <div class="search-form-wrap js-search-form-wrap">
      <form action="search-result.html" class="search-form">
        <span class="icon bi-search"></span>
        <input type="text" placeholder="Search" class="form-control">
        <button class="btn js-search-close"><span class="bi-x"></span></button>
      </form>
    </div><!-- End Search Form -->

  </div>

  </div>
</header><!-- End Header -->

