{% load static%}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Signup Form</title>
    <link rel="stylesheet" href="{% static '/core/style1.css' %}" />
</head>

<body>

    <section class="wrapper">
        <div class="form signup">
            <header>This is home page</header>
          
            <table class="table">
                <thead>
                  <tr>
               
                    <th scope="col">Username</th>
                    <th scope="col">Create_data</th>
                    <th scope="col">Title</th>
                    <th scope="col">Blog type</th>
                    <th scope="col">Description</th>

                  </tr>
                </thead>
                <tbody>
                    {% for blog in blogs %}
                 
                  <tr>
                    <!-- <th scope="row">{{todo.username.email}}</th> -->
                    <td>{{blog.create_date}}</td>
                    <td>{{blog.title}}</td>
                    <td>{{blog.get_type_desplay}}</td>
                    <td>{{blog.description}}</td>
                    <td>{{blog.title}}</td>
                  </tr>
                 


            {% endfor %}

            <br>

        </div>
    </section>
</body>

</html>