{% extends "core/base.html" %}

{% load widget_tweaks %}

{% load static %}

{% block bodycontent %}


<!-- Add your CSS stylesheets or links here -->
<link rel="stylesheet" href="{% static 'core/assets/css/edit_profile.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<section>
    <div class="container emp-profile py-5 px-5" data-aos="fade-up">
        <div class="row">
            <div class="col-md-12  my-3  px-5">


                <!-- Your main content goes here -->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-4">
                            <!-- Profile picture card-->
                            <div class="card mb-4 mb-xl-0">
                                <div class="card-header text-center">
                                    <h4>Profile Photo</h4>
                                </div>
                                <div class="card-body text-center">
                                    <!-- Profile picture image -->
                                    <img src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% else %}{% static '/core/assets/img/avatar.png' %}{% endif %}"
                                        id="photo-preview" class="img-circle profile-avatar" alt="User avatar">
                                    <!-- Input for selecting a new photo -->
                                    <input type="file" name="photo" accept="image/*" class="form-control-file"
                                        id="photo-upload" style="display: none;">
                                    <label for="photo-upload" class="btn btn-outline-success mt-3">Choose
                                        Photo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="panel panel-default">
                                <h4>User Info</h4>
                            </div>
                            {%for f in form%}
                            {% if f.name != "photo" %}
                            <div class="form-group">
                                <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>
                                <div class="col-sm-10">
                                    <div class="col-md-8"> {{f}} </div>
                                </div>
                            </div>
                            {%endif%}
                            {%endfor%}
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <a type="button" class="btn btn-outline-success btn-lg mt-2"
                                    href="{% url 'password_change' %}">
                                    Change Passwords </a>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-dark mt-2">Save changes</button>
                                <a type="button" class="btn btn-outline-secondary mt-2" href="{% url 'user_account' %}">
                                    Cancel </a>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>


<!-- JavaScript to handle photo preview -->
<script>
    // Get references to the image and file input elements
    const photoPreview = document.getElementById('photo-preview');
    const photoInput = document.getElementById('photo-upload');

    // Add an event listener to the file input
    photoInput.addEventListener('change', function () {
        const file = this.files[0]; // Get the selected file

        if (file) {
            // If a file was selected, display it in the preview
            const reader = new FileReader();

            reader.onload = function (e) {
                photoPreview.src = e.target.result; // Set the image source to the selected file
            };

            reader.readAsDataURL(file); // Read the selected file as a data URL
        } else {
            // If no file was selected, show the default avatar
            photoPreview.src = '{% static "core/assets/img/avatar.png" %}';
        }
    });
</script>

{%endblock%}