{% extends "core/base.html" %}

{% load static %}

{% block bodycontent %}
<main id="main">
    <section>
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center mb-5">

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <div class="card-group mb-0">
                                    <div class="card p-4">
                                        <div class="card-body">
                                            <h3>Log In</h3>
                                            <p class="text-muted">Log in to our account</p>
                                            <form method="POST" role="form">
                                                {% csrf_token %}
                                                <div class="input-group mb-3">

                                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    <input type="text" name="username" class="form-control"
                                                        id="username" placeholder="Username">
                                                </div>
                                                <div class="input-group mb-4">
                                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                    <input type="password" name="password" class="form-control"
                                                        id="password" placeholder="Password">
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                                                            Log In
                                                        </button>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <button type="button" class="btn btn-link px-0">Forgot
                                                            password?</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                                        <div class="card-body text-center">
                                            <div>
                                                <h2>Sign up</h2>
                                                <br>
                                                <h5>Become a mamber of our blog.</h5>
                                                <br>
                                                <h5>Create an account.</h5>
                                                <br>
                                          
                                        

                                                <a type="button" class="btn btn-lg btn-secondary btn-block"
                                                    href="{% url 'signup' %}"> Sign Up</a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{%endblock%}