{% load static%}

<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Signup Form</title>
    <link rel="stylesheet" href="{% static 'registration/style.css' %}" />
</head>

<body>
    <section class="wrapper">
        <div class="form signup">
            <header>Login</header>
            <form method="POST" role="form">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Login" />
            </form>
            <br>
            <a href="/accounts/password_reset">
                <p style="color:rgb(40, 36, 36);">Forgot password?</p>
            </a>
        </div>
    </section>
</body>

</html>