{% extends "registration/base.html" %}
{% load static %}

{% block bodycontent %}

<header>Sign Up</header>
<form method="POST" role="form">
    {% csrf_token %}
    {{form.as_p}}
    <div class="checkbox">
        <input type="checkbox" id="signupCheck" required />
        <label for="signupCheck">I accept all <a href="{% url 'terms_conditions'%}" onclick="openTermsModal()"
                target="blank"> terms & conditions </a></label>
    </div>
    <input type="submit" value="Signup" />
</form>

{%endblock%}