{%load static%}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'terms_conditions.css' %}" />
</head>

<body>
  <h1>Terms and Conditions</h1>
  <p>By signing up, you agree to the following terms and conditions:</p>
  <ul id="terms-list">
    <li>Content Ownership: All content on this blog is owned by the blog owner or the respective content creators.</li>
    <li>Copyright Notice: The blog content is protected by copyright laws.</li>
    <li>User Conduct: Users must refrain from posting offensive, abusive, or harmful content in comments or submissions.
    </li>
    <li>Comment Policy: Specify how comments are moderated, what types of comments are allowed, and reserve the right to
      remove or edit inappropriate comments.</li>
    <li>Privacy Policy: Provide a link to the blog's privacy policy, explaining how user data is collected, stored, and
      used.</li>
    <li>Disclaimer: Include a disclaimer that the blog content is for informational purposes only and does not
      constitute professional advice. Encourage users to seek professional advice when needed.</li>
    <li>External Links: State that the blog may contain links to external websites, and the blog owner is not
      responsible for the content or actions of those websites.</li>
    <li>Affiliate Links/Ads: If your blog includes affiliate links or ads, disclose this information to users.</li>
    <li>Age Restriction: If the blog is not suitable for minors, clearly state the age restriction for users.</li>
    <li>Changes to Terms: Reserve the right to update or modify the terms and conditions at any time and inform users
      about the changes.</li>
    <li>Termination: Clarify that the blog owner can terminate or suspend user access at their discretion, especially in
      case of violations of the terms.</li>
    <li>Governing Law: Specify the jurisdiction that governs the terms and conditions.</li>
    <li>Contact Information: Provide contact information for users to get in touch with any concerns or inquiries.</li>
  </ul>

  <script>
    const listItems = document.querySelectorAll('#terms-list li');
    listItems.forEach(item => {
      const content = item.innerHTML;
      const colonIndex = content.indexOf(':');
      if (colonIndex !== -1) {
        const boldPart = content.substring(0, colonIndex + 1);
        const remainingPart = content.substring(colonIndex + 1);
        item.innerHTML = `<span class="bold-blue">${boldPart}</span>${remainingPart}`;
      }
    });
  </script>
</body>

</html>