{% extends "core/base.html" %}

{% load static %}

{%block bodycontent%}

{% load pagination_tags %}


<!-- Add your CSS stylesheets or links here -->
<link rel="stylesheet" href="{% static 'core/assets/css/edit_profile.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

<style>
    .not-visible {
        display: none;
    }
</style>


<!------ Include the above in your HEAD tag ---------->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="container emp-profile py-4">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4"> <!-- Profile picture section-->
                                <div class="card-body text-center">
                                    <!-- Profile picture image-->
                                    <img src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% else %}{% static '/core/assets/img/avatar.png' %}{% endif %}"
                                        class="img-circle profile-avatar" alt="User avatar" max-height="200px">
                                </div>
                            </div>
                            <div class="col-md-6"> <!-- About and my_blogs section-->
                                <div class="profile-head">
                                    <h3>
                                        {{ user.first_name }} {{ user.last_name }}
                                    </h3>
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active"
                                                id="homeshow activeshow activeshow activeshow activeshow activeshow active-tab"
                                                data-toggle="tab" href="#about" role="tab" aria-controls="about"
                                                aria-selected="true">About</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="blogs-tab" data-toggle="tab" href="#blogs"
                                                role="tab" aria-controls="blogs" aria-selected="false">My
                                                blogs</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tab-content blogs-tab" id="myTabContent">
                                            <div class="tab-pane fade show active" id="about" role="tabpanel"
                                                aria-labelledby="about-tab">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Username</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{ user.username }}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Name</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p> {{ user.first_name }} {{ user.last_name }}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Email</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{ user.email }}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Phone</label>
                                                    </div>
                                                    {%if user.profile.phone%}
                                                    <div class="col-md-6">
                                                        <p>{{ user.profile.phone }}</p>
                                                    </div>
                                                    {%endif%}
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Profession</label>
                                                    </div>
                                                    {%if user.profile.profession%}
                                                    <div class="col-md-6">
                                                        <p>{{ user.profile.profession }}</p>
                                                    </div>
                                                    {%endif%}
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>City</label>
                                                    </div>
                                                    {%if user.profile.city%}
                                                    <div class="col-md-6">
                                                        <p>{{ user.profile.city }}</p>
                                                    </div>
                                                    {%endif%}
                                                </div>
                                            </div>


                                            <!--My blogs section-->
                                            <div class="tab-pane fade" id="blogs" role="tabpanel"
                                                aria-labelledby="blogs-tab">
                                                <div class="row">
                                                    {% if user_blogs %}
                                                    <div class="col-lg-12">
                                                        {% for blog in user_blogs %}
                                                        <div class="row py-4">
                                                            <div class="col-lg-4 ">
                                                                <div class="post-meta">
                                                                    <span class="date">Category:
                                                                        {{blog.get_blog_category_display}}</span>
                                                                    <span class="mx-1">&bullet;</span>
                                                                    <span>{{blog.created_on}}</span>
                                                                </div>

                                                                <div class="d-md-flex post-entry-2 half">
                                                                    <a href="{% url 'blog_detail' blog.id %}"
                                                                        class="me-4 thumbnail">
                                                                        <img src="{{blog.image.url}}" alt=""
                                                                            class="img-fluid">
                                                                    </a>
                                                                </div>

                                                            </div>
                                                            <div class="col-lg-8 ">
                                                                <h4><a
                                                                        href="{% url 'blog_detail' blog.id %}">{{blog.title}}</a>
                                                                </h4>
                                                                {{blog.description|truncatewords:10}}...

                                                                <div>
                                                                    <a type="button" class="btn btn-success"
                                                                        href="{% url 'blog_detail' blog.id %}"><i
                                                                            class="far fa-eye"></i></a>
                                                                    <a type="button" class="btn btn-success"
                                                                        href="{% url 'my_blog_update' blog.id %}"><i
                                                                            class="fas fa-edit"></i></a>
                                                                    <a type="button" class="btn btn-danger"
                                                                        href="{% url 'my_blog_delete' blog.id  %}"><i
                                                                            class="far fa-trash-alt"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {%endfor%}
                                                    </div>
                                                    {%else%}
                                                    <div>
                                                        <h3>You haven't any blogs yet. </h3>
                                                        <h3>Create your first blog now.</h3>
                                                        <a type="button" class="btn btn-outline-success btn-lg mt-2"
                                                            href="{% url 'create_blog' %}">
                                                            Add
                                                            new blog</a>
                                                    </div>
                                                    {%endif%}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <a type="button" class="btn btn-outline-success mt-2" href="{% url 'edit_profile' %}">
                                    Edit Profile </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}