{% extends "core/base.html" %}

{% load static %}

{% block bodycontent %}

<div class="card mb-3 border-0 nth-shadow">
    <div class="card-body">
        <div class="card-title">
            <h4>Change password</h4>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark mt-2">Save new password</button>

            <a type="button" class="btn btn-outline-secondary mt-2" href="{% url 'user_account' %}">
                Cancel </a>
        </form>
    </div>
</div>
{% endblock %}