{% extends "core/base.html" %}

{% load static %}

{% block bodycontent %}



<!-- Add your CSS stylesheets or links here -->
<link rel="stylesheet" href="{% static 'core/assets/css/edit_profile.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<section>
    <div class="container">

        <div class="card mb-3 border-0 nth-shadow">
            <div class="card-body">
                <div class="card-title text-center">
                    <h4>Change password</h4>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <!-- Old Password Field -->
                    <div class="form-group">
                        <label for="{{ form.old_password.id_for_label }}">Old Password</label>
                        {{ form.old_password }}
                        {{ form.old_password.errors }}
                    </div>

                    <!-- New Password Fields -->
                    <div class="form-group">
                        <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                    </div>

                    <!-- Password Requirements -->
                    <div class="password-requirements">
                        <p>Your password must meet the following requirements:</p>
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                    </div>

                    <button type="submit" class="btn btn-dark mt-2">Save changes</button>
                    <a type="button" class="btn btn-outline-secondary mt-2" href="{% url 'user_account' %}">
                        Cancel </a>

                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}