{% extends "core/base.html" %}

{% load static %}

{% block bodycontent %}

<div class="card mb-3 border-0 nth-shadow">
    <div class="card-body">
        <div class="card-title">
            <h4>Change password</h4>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <!-- Old Password Field -->
            <div class="form-group">
                <label for="{{ form.old_password.id_for_label }}">Old Password</label>
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </div>
    
            <!-- New Password Fields -->
            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>

            <!-- Password Requirements -->
            <div class="password-requirements">
                <p>Your password must meet the following requirements:</p>
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
    
            
            
            <button type="submit">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}